#home-text {
    margin-top: 2em;
    font-size: larger;
    text-align: justify;
}

#cards {
    margin: 2em 5em 2em;
    font-family: 'Amatic SC', cursive;
    font-size: 1.3em;
    font-weight: 550;
    text-align: justify;
}

#c-title {
    font-size: 2em;
    font-weight: 580;
}

#logo {
    margin-left: 8em;
    width: 22em;
    height: 5em;
}

#extended {
    margin-left: 8em;
}

h2,
h3 {
    font-family: 'Amatic SC', cursive;
    font-size: 4.5em;
}

#register-img {
    float: left;
    width: 25em;
}

#side-input {
    margin-top: 6em;
}